In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Petropavlovsk-Kamchatskiy,RU,2022-09-20 17:40:13,53.0452,158.6483,48.79,57,40,11.18
1,1,Bluff,NZ,2022-09-20 17:40:14,-46.6000,168.3333,46.80,84,88,4.52
2,2,Hobart,AU,2022-09-20 17:37:50,-42.8794,147.3294,53.46,66,100,6.91
3,3,Bukama,CD,2022-09-20 17:40:14,-9.2000,25.8500,84.27,48,70,1.25
4,4,Lebu,CL,2022-09-20 17:40:14,-37.6167,-73.6500,49.80,68,44,7.52

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 90

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Bukama,CD,2022-09-20 17:40:14,-9.2000,25.8500,84.27,48,70,1.25
19,19,Georgetown,MY,2022-09-20 17:36:39,5.4112,100.3354,82.33,89,40,0.00
23,23,Bafq,IR,2022-09-20 17:40:19,31.6128,55.4107,84.65,14,11,7.92
27,27,Turbo,CO,2022-09-20 17:40:20,8.0937,-76.7269,86.13,60,100,6.31
37,37,Arraial Do Cabo,BR,2022-09-20 17:40:24,-22.9661,-42.0278,80.56,73,0,13.80
39,39,Kahului,US,2022-09-20 17:40:24,20.8947,-156.4700,80.83,72,20,16.11
53,53,Vila Velha,BR,2022-09-20 17:41:29,-20.3297,-40.2925,85.95,57,0,14.97
59,59,Butaritari,KI,2022-09-20 17:41:31,3.0707,172.7902,80.26,76,100,9.78
70,70,Elk City,US,2022-09-20 17:41:34,35.4120,-99.4043,89.82,40,0,17.27
72,72,Muli,MV,2022-09-20 17:41:34,2.9167,73.5667,82.31,73,68,8.08

In [10]:
preferred_cities_df.count()

City_ID       91
City          91
Country       91
Date          91
Lat           91
Lng           91
Max Temp      91
Humidity      91
Cloudiness    91
Wind Speed    91
dtype: int64

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
3            Bukama      CD     84.27  -9.2000   25.8500
19       Georgetown      MY     82.33   5.4112  100.3354
23             Bafq      IR     84.65  31.6128   55.4107
27            Turbo      CO     86.13   8.0937  -76.7269
37  Arraial Do Cabo      BR     80.56 -22.9661  -42.0278
39          Kahului      US     80.83  20.8947 -156.4700
53       Vila Velha      BR     85.95 -20.3297  -40.2925
59       Butaritari      KI     80.26   3.0707  172.7902
70         Elk City      US     89.82  35.4120  -99.4043
72             Muli      MV     82.31   2.9167   73.5667

In [12]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Bukama,CD,84.27,-9.2000,25.8500,
19,Georgetown,MY,82.33,5.4112,100.3354,Cititel Penang
23,Bafq,IR,84.65,31.6128,55.4107,Alamdar Hotel
27,Turbo,CO,86.13,8.0937,-76.7269,Hotel Plaza Manfortt
37,Arraial Do Cabo,BR,80.56,-22.9661,-42.0278,Pousada Porto Praia
39,Kahului,US,80.83,20.8947,-156.4700,Maui Seaside Hotel
53,Vila Velha,BR,85.95,-20.3297,-40.2925,Hotel Vitória Palace
59,Butaritari,KI,80.26,3.0707,172.7902,Isles Sunset Lodge
70,Elk City,US,89.82,35.4120,-99.4043,Hampton Inn & Suites Elk City
72,Muli,MV,82.31,2.9167,73.5667,Medhufushi Island Resort

In [15]:
hotel_df.notna().sum()

City          91
Country       91
Max Temp      91
Lat           91
Lng           91
Hotel Name    91
dtype: int64

In [16]:
clean_hotel_df = hotel_df.dropna(axis="index", how="any")
clean_hotel_df.count()

City          91
Country       91
Max Temp      91
Lat           91
Lng           91
Hotel Name    91
dtype: int64

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))