## Deliverable 2. Create a Customer Travel Destinations Map.

In [26]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [27]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Hermanus,ZA,-34.4187,19.2345,59.81,83,100,11.50,overcast clouds
1,1,Georgetown,MY,5.4112,100.3354,80.55,88,20,2.30,few clouds
2,2,Lebu,CL,-37.6167,-73.6500,53.31,70,6,16.51,clear sky
3,3,Port Lincoln,AU,-34.7333,135.8667,53.51,74,73,5.12,moderate rain
4,4,Cabedelo,BR,-6.9811,-34.8339,86.67,69,98,11.14,overcast clouds

In [28]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [29]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
1,1,Georgetown,MY,5.4112,100.3354,80.55,88,20,2.30,few clouds
4,4,Cabedelo,BR,-6.9811,-34.8339,86.67,69,98,11.14,overcast clouds
5,5,Korla,CN,41.7597,86.1469,72.70,19,3,5.10,clear sky
6,6,Kavaratti,IN,10.5669,72.6420,81.99,73,13,11.56,few clouds
19,19,Acari,PE,-15.4311,-74.6158,73.99,46,96,10.94,overcast clouds
21,21,Saint George,US,37.1041,-113.5841,79.43,22,0,3.44,clear sky
27,27,Puerto Ayora,EC,-0.7393,-90.3518,76.96,94,89,5.99,overcast clouds
29,29,Cairns,AU,-16.9167,145.7667,73.35,93,100,0.00,overcast clouds
31,31,Rikitea,PF,-23.1203,-134.9692,70.29,70,20,16.84,few clouds
36,36,Acapulco,MX,16.8634,-99.8901,84.67,71,93,4.85,overcast clouds

In [30]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                327
City                   327
Country                325
Lat                    327
Lng                    327
Max Temp               327
Humidity               327
Cloudiness             327
Wind Speed             327
Weather Description    327
dtype: int64

In [31]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna(axis="index", how="any")
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
1,1,Georgetown,MY,5.4112,100.3354,80.55,88,20,2.30,few clouds
4,4,Cabedelo,BR,-6.9811,-34.8339,86.67,69,98,11.14,overcast clouds
5,5,Korla,CN,41.7597,86.1469,72.70,19,3,5.10,clear sky
6,6,Kavaratti,IN,10.5669,72.6420,81.99,73,13,11.56,few clouds
19,19,Acari,PE,-15.4311,-74.6158,73.99,46,96,10.94,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
698,698,Fukue,JP,32.6881,128.8419,72.68,64,76,21.25,broken clouds
699,699,Nzerekore,GN,7.7562,-8.8179,73.15,94,97,2.48,moderate rain
704,704,Barranca De Upia,CO,4.5696,-72.9668,89.37,52,77,2.89,light rain
706,706,Elizabeth City,US,36.2946,-76.2511,75.22,44,0,6.91,clear sky
707,707,Amberley,US,39.2048,-84.4280,71.76,67,75,10.36,broken clouds

In [32]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Georgetown,MY,80.55,few clouds,5.4112,100.3354,
4,Cabedelo,BR,86.67,overcast clouds,-6.9811,-34.8339,
5,Korla,CN,72.70,clear sky,41.7597,86.1469,
6,Kavaratti,IN,81.99,few clouds,10.5669,72.6420,
19,Acari,PE,73.99,overcast clouds,-15.4311,-74.6158,
21,Saint George,US,79.43,clear sky,37.1041,-113.5841,
27,Puerto Ayora,EC,76.96,overcast clouds,-0.7393,-90.3518,
29,Cairns,AU,73.35,overcast clouds,-16.9167,145.7667,
31,Rikitea,PF,70.29,few clouds,-23.1203,-134.9692,
36,Acapulco,MX,84.67,overcast clouds,16.8634,-99.8901,

In [33]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [34]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis="index", how="any")
clean_hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Georgetown,MY,80.55,few clouds,5.4112,100.3354,Cititel Penang
4,Cabedelo,BR,86.67,overcast clouds,-6.9811,-34.8339,Pousada Camboinha
5,Korla,CN,72.70,clear sky,41.7597,86.1469,Gulisitan Hotel
6,Kavaratti,IN,81.99,few clouds,10.5669,72.6420,Green leaf
19,Acari,PE,73.99,overcast clouds,-15.4311,-74.6158,HOSPEDAJE XIMENA
21,Saint George,US,79.43,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
27,Puerto Ayora,EC,76.96,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
29,Cairns,AU,73.35,overcast clouds,-16.9167,145.7667,Mantra Trilogy Cairns
31,Rikitea,PF,70.29,few clouds,-23.1203,-134.9692,People ThankYou
36,Acapulco,MX,84.67,overcast clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco

In [35]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [36]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [38]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))