## Deliverable 3. Create a Travel Itinerary Map.

In [38]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [39]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,1,Georgetown,MY,80.55,few clouds,5.4112,100.3354,Cititel Penang
1,4,Cabedelo,BR,86.67,overcast clouds,-6.9811,-34.8339,Pousada Camboinha
2,5,Korla,CN,72.70,clear sky,41.7597,86.1469,Gulisitan Hotel
3,6,Kavaratti,IN,81.99,few clouds,10.5669,72.6420,Green leaf
4,19,Acari,PE,73.99,overcast clouds,-15.4311,-74.6158,HOSPEDAJE XIMENA

In [40]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [41]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 4b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Laguna']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Laguna']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'San Ramon']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Half Moon Bay'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Salinas']

In [43]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()[0][5], vacation_start.to_numpy()[0][6]
end = vacation_end.to_numpy()[0][5], vacation_end.to_numpy()[0][6]
stop1 = vacation_stop1.to_numpy()[0][5], vacation_stop1.to_numpy()[0][6]
stop2 = vacation_stop2.to_numpy()[0][5], vacation_stop2.to_numpy()[0][6]
stop3 = vacation_stop3.to_numpy()[0][5], vacation_stop3.to_numpy()[0][6]

In [48]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
direction_map = gmaps.directions_layer(start, end,
                                      waypoints = [stop1, stop2, stop3],
                                      travel_mode = "DRIVING")
fig.add_layer(direction_map)
fig

Figure(layout=FigureLayout(height='420px'))

In [53]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,60,Laguna,US,88.63,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
1,422,San Ramon,US,85.14,clear sky,37.7799,-121.9780,San Ramon Marriott
2,124,Half Moon Bay,US,84.54,clear sky,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"
3,647,Salinas,US,77.61,clear sky,36.6777,-121.6555,Laurel Inn & Conference Center

In [55]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description	</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [57]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))